/*Css para index*/
body{
    font-family: 'Exo 2', sans-serif;
    background-image: url(../img/textura-grunge-sobre-fondo-oscuro_1258-14137.avif);
    margin: 2% 2% 0 0;
}

.caja{
    text-align: center;
    padding: 10px;    
}

.principal{
    padding: 10px;
}

.tituloCentralizado{
    text-align: center;
    height: 150px;
    border: 10px solid #faf9f9;
    padding: 20px;
    margin: 40px;
    color: white;
}

.principal{
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 3em;
    margin: 0 0 1em;
    clear:left;
    color: white;  
}

.titulo-secundario{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
    color: white;
}

.principal p{
    margin: 1 0 1em;
    font-size: large;
    background-size: #000000;
    color: white;
}

.principal strong{
    font-weight: bold;   
}

.principal em{
    font-style: italic;  
}

.corralon{
    width: calc(40% - (26px * 4));
    float: left;
    margin: 0 20px 20px 0;
}

.titulo-tercero{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
    color: white;
}

.mapa{
    padding: 3em 0;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
    color: white;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;   
}

.titulo-cuarto{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
    color: white;
}

.diferenciales{
    padding: 30px;
}

.items{
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-left: 15%;
    color: white;
}

header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

/*css para productos*/
.productos{
    width: 940px;
    margin: 1 auto;
    padding: 50px;
    color: white;
}

.productos li{
    display: inline-table;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 2 1.5%;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{
    border-color:#088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.productos li:hover h2{
    font-size: 33px;
    color: white;
}

.producto-descripcion{
    font: size 18px;
}

.producto-precio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.calculadora{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    color: white;
}

.calculadora {
    margin: 40px;
    padding: 20px;
    border: 1px solid #ccc;
}

.calculadora label,
.calculadora input,
.calculadora button {
    display: block;
    margin: 20px 0;
}

.calculadora button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
}

/* Css para Formulario Contacto*/
.formulario{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    color: white;
}

.formulario{
    margin: 40px;
    padding: 20px;
    border: 1px solid #ccc;
}

.formulario label,
.formulario input,
.formulario button {
    margin: 20px 0;
}

/*Css para copyrigiht*/
footer{
    text-align: center;
    color: white;
    background: url(bg.jpg);
    padding: 20px;   
}
